import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
  selector: '<%= selector %>',
  imports: [],
  templateUrl: './<%= name %>.html',
  styleUrl: './<%= name %>.scss',
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= className %>Component {}
